.clearfix{
    overflow: hidden;
    clear: both;
}
.am-wingblank.am-wingblank-lg{
    margin:0;
}
.am-wingblank{
    margin: 0;
}
.home-sub-title{
    font-size: 16px;
    font-weight: 400;
}
.palce-grid-layout{
    margin-top: 15px;
}
.home-content{
    padding-left:10px;
}
.public-container{
    padding: 15px;
}
.more-btn{
    height: 30px;
    background-color: #f3f3f3;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    border-radius: 4px;
    margin: 10px 0 0px;
}
