.qa-container-list{
    text-align: left;
    padding: 15px;
}
.qa-icon-text{
    width: 25px;
    height: 25px;
    background: #487cc0;
    color: #fff;
    text-align: center;
    line-height: 25px;
    border-radius: 4px;
    margin-right: 10px;
    float: left;
}
.qa-icon-a{
    background: #96c13f;
}
.qa-header{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
}
.qa-bottom{
    overflow: hidden;
}
.qa-container-text{
    font-size: 12px;
    color: #666;
    line-height: 180%;
    padding-left: 35px;
}